.navbar {
  width: 100%;
  background: white;
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 80px;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  width: 60px;
  height: 60px;
}

.logo-head {
  display: flex;
  align-items: center;
}

.logo-text h2 {
  font-size: 18px;
  color: #1976d2;
}
.logo-text p {
  font-size: 12px;
  color: #1976d2;
}

nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  padding-bottom: 5px;
  transition: 0.4s;
}
nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  padding: 10px 10px;
}

nav .action {
  text-decoration: none;
  position: relative;
  transition: 0.4s;
  font-weight: 500;
  color: #1976d2;
  font-size: 16px;
}

nav .action:hover {
  color: #1976d2;
}

nav .action:before {
  content: "";
  position: absolute;
  background-color: #1976d2;
  height: 2.5px;
  width: 0%;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
nav .action:hover:before {
  width: 100%;
}

ul .basic-btn {
  margin-left: 15px;
}

ul .basic-btn {
  font-size: 14px;
  font-weight: 500;
  color: #1976d2;
  background: transparent;
  border: solid #1976d2;
  border-width: 2px;
  padding: 10px 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

ul .basic-btn:hover {
  background: rgba(82, 124, 217, 1);
  color: white;
}

ul .basic-btn:active {
  transition: 0.1s;
  background: rgb(110, 155, 251);
  border-color: rgb(110, 155, 251);
}
