.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#popupinner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
.open{
    animation: open 0.2s forwards;
}

#close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 10px;
    border-radius: 50%;
    border: 1px solid black;
    background: none;
    outline: none;
}

#close-btn:hover{
    background: black;
    color: white;
}

.confirm-popup button{
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    background-color: rgba(82, 124, 217, 1);
    border-radius: 6px;
    color: white;
    margin-top: 5px;

}
.confirm-popup p{
    margin-bottom: 10px;
}



@keyframes open {
    0%{
        transform: scale(0);
      }
      
      100%{
        transform: scale(1);
      }
}

