/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Inter", sans-serif;*/
  /*font-family: "Poppins", sans-serif;*/
  font-family: "Roboto", sans-serif;
  /*font-family: "Outfit", sans-serif;*/
}
.App {
  max-height: 100vh;
}

body {
  max-width: 100%;
}

ul li {
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
}
.About {
  padding-left: 8%;
  padding-right: 8%;
}

.navbar-dash {
  width: 100%;
  background: white;
  padding: 8px 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
