.footer{
    width: 100%;
    height: 50px;
    background: rgba(34, 38, 52, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer p{
    
    font-weight: lighter;
    color: white;
}