.signup-background{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signup-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.signup-section input{
    outline: none;
    padding: 15px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;

}

.signup-section h1{
    text-align: center;
    margin-bottom: 10px;
}
.line-choose-signup{
    margin-bottom: 25px;
    width: 80px;
    border-radius: 50px;
    height: 15px;
    background: rgba(82, 124, 217, 1);
    margin: auto;
    margin-bottom: 25px;
    margin-top: 10px;
}
.signup-info{
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);  
    padding: 30px 30px;
    background-color: white;
    border-radius: 6px;
    
}

.signup-info p{
    text-align: center;
}

.link-login{
    text-decoration: none;
    color: rgba(82, 124, 217, 1);
}

.signup-btn{
    border: none;
    border-radius: 6px;
    padding: 15px 70px;
    background-color: rgba(82, 124, 217, 1); 
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 400; 
    transition: .3s;
    margin-bottom: 20px;
    cursor: pointer;
}

.signup-btn:hover{
    background: rgb(64, 97, 168);
}

.signup-btn:active{
    transition: .1s;
    background: rgb(125, 164, 249);
}


