.row{
    display: flex;
}

/*========================================================================================================*/

.leftcolumn{
    flex-direction: column;
    width: 25%;
    height: auto;
    background-color: #f0f0f0;
}

.L-card{
    border: 1px solid #b6b6b6;
    padding: 30px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 12px;
    background-color: white;
}
.L-card .pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgba(82, 124, 217, 1);
    
}

.L-card img{
    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
    
}
.L-card h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.L-card p{
    margin-bottom: 10px;
}

.book{
    display: flex;
    align-items: center;
    justify-content: center;
}
.L-card button{
    padding: 15px 50px;
    border: none;
    background-color: rgba(82, 124, 217, 1);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;

}

.messages-tab{
    height: 200px;
}
/*========================================================================================================*/

.rightcolumn{
    flex-direction: column;   
    width: 75%;
    height: 100%;
    background-color: #f0f0f0;
    
}

.R-card{
    border: 1px solid #b6b6b6;
    padding: 30px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 60px;
    background-color: white;
}

.R-card h2{
    margin-bottom: 15px;
}

.form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-content input{
    outline: none;
    padding: 15px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    font-size: 14px;
}

.form-content label{
    margin-right: 15px;
    margin-left: 15px;
}

.R-card textarea{
    outline: none;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #b6b6b6;
    font-size: 14px;
    width: 100%;
    padding: 15px 20px;
}

.R-card .photo{
    border: 1px solid #b6b6b6;
    background: rgb(223, 223, 223);
    width: 100%;
    height: 400px;
    border-radius: 6px;
}

.add{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add button{
    border: none;
    border-radius: 6px;
    padding: 15px 70px;
    background-color: rgba(82, 124, 217, 1); 
    color: white;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
   
}

.contact-content{
    display: grid;
    gap: 5px;
}

.contact-content label{
    margin-right: 10px;
}

.contact-content input{
    outline: none;
    padding: 15px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    width: 50%;
    font-size: 14px;
    margin-bottom: 5px;
}

.save-btn{
    display: flex;
    justify-content: right;
}

.save-btn button{
    border: none;
    border-radius: 6px;
    padding: 15px 70px;
    background-color: rgba(82, 124, 217, 1); 
    color: white;
    font-size: 18px;
    font-weight: 400; 
    transition: .3s;

}


/*========================================================================================================*/


.rightcolumn h2{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.leftcolumn h3, h4{
    font-weight: 600;
}


.row button:hover{
    background: rgb(64, 97, 168);
}

.row button:active{
    transition: .1s;
    background: rgb(125, 164, 249);
}


/*========================================================================================================*/