.hero {
  width: 100%;
  min-height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../Assets/Image1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.hero-head {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-para {
  margin-right: 50%;
  margin-bottom: 20px;
  font-size: 18px;
}

.hero-btn {
  font-size: 25px;
  font-weight: 500;
  color: white;
  background: rgba(82, 124, 217, 1);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 20px 70px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: rgb(64, 97, 168);
}

.hero-btn:active {
  transition: 0.1s;
  background: rgb(125, 164, 249);
}
